{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 2 versions"],
        "node": "14"
      },
      "loose": true,
      "useBuiltIns": false
    }],
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", {
      "helpers": true,
      "regenerator": false
    }],
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/plugin-transform-class-properties", { "loose": true }],
    ["@babel/plugin-transform-private-methods", { "loose": true }],
    ["@babel/plugin-transform-private-property-in-object", { "loose": true }],
    "@babel/plugin-transform-json-strings",
    "@babel/plugin-transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "plugins": [
        "./test/_setup/arrow-function-coverage-fix.js",
        "istanbul"
      ]
    }
  },
  "ignore": [
    "src/lib/vendor/**/*.*",
    "./test/_setup/arrow-function-coverage-fix.js"
  ]
}
